<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">À propos</div>
            <p class="paragraph-text justify-text">
                Bonjour ! Naviguez à votre guise à travers ces pages afin d'en apprendre un peu plus sur qui je suis.
            </p>
            <p class="paragraph-text justify-text">
                Pour me présenter je m'appelle Nasser ! J'aime apprendre de nouvelles choses, c'est pour cela que le monde de l'informatique me passione. Je commence à développer davantage mes capacités techniques. Mon objectif est de savoir dans quel discipline informatique me spécialiser: la sécurité, le design ..? Lié d'une certaine façon, je m'intéresse également au monde des "makers" et de l'électronique.
            </p>
            <p class="paragraph-text justify-text">
                Pour mon futur proche, j'aimerais poursuivre un cursus d'ingénieur afin de pouvoir, de façon plus lointaine, créer et développer des solutions innovantes à des problèmes. 
            </p>
        </div>
    </section>
</div>
