<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">A propos</div>
            <p class="paragraph-text justify-text">
                Bonjour! Naviguez à votre guise à travers ses pages afin d'en apprendre un peu plus sur qui je suis.
            </p>
            <p class="paragraph-text justify-text">
                Pour me présentez je m'appelle Nasser! J'aime apprendre de nouvelles choses. C'est pour cela que le monde de l'informatique me passione de plus en plus. Je commence à porter de plus en plus d'intérêt dans le développement de mes capacités techniques. Mon objectif est de savoir dans quel domaine informatique me spécialisé (la sécurité, le design ..?). Lié d'une certaine façon, je m'intéresse beaucoup au monde des "makers" et de l'électronique.
            </p>
            <p class="paragraph-text justify-text">
                Pour mon futur proche, j'aimerai poursuivre un cursus d'ingénieur afin de pouvoir de façon plus lointaine créer et développer des solutions innovantes à des problèmes. 
            </p>
        </div>
    </section>
</div>
